body {
	background-color: black;
	border-spacing: 3px;
	color: RoyalBlue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;	
	padding: 3px;	
}

a:link { 
	color: RoyalBlue; 
}
a:visited { 
	color: RoyalBlue;
}

a.navigation { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: normal;
	color: CornflowerBlue;
}

.directions { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: bold; 
	color: CornflowerBlue;
}

.header {
	font-family: Arial, Helvetica, sans-serif; 
	color: CornflowerBlue
}

h1 {
	color: DodgerBlue
}
.normal { font : 9pt Arial, San-Serif; }

.searchbutton { 
	font : 9pt Arial, San-Serif; 
	color : White; 
	font-weight: bold; 
	background-color : RoyalBlue; 
}

.searchresults { font-family: Arial Black, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: PowderBlue; text-decoration: none; }
.searchquery { font-family: Arial Black, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: CornflowerBlue; text-decoration: none; }

th {
	background-color:silver;
}

td {
	background-color:black;
}

.grey {
	background-color:LightGrey;
	font : 9pt Arial, San-Serif;
}

.highlight { color: DarkRed; font-weight : bold }

